@import url('https://fonts.googleapis.com/css?family=Bad+Script|Calistoga|Unica+One&display=swap');
/* 
font-family: 'Calistoga', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Unica One', cursive;
*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 32%;}
.col-5 {width: 41.66%;}
.col-6 {width: 48%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
body{
    background-color: black;
}
header{
    height: 300px;
    width: 100%;
}
h1{
    color: #ff1dce;
    font-family: 'Calistoga', cursive;
    font-size: 56px;
    text-align: center;
    margin: 10%;
    border: 10px double #741b47ff;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* end header */

.containers{
    height: 400px;
    display: inline-block;
}
.color_logo, .white_logo{
   height: 300px;
   width: 100%; 
}

h2, h3{
    font-family: 'Calistoga', cursive;text-align: center; 
    color: #ff1dce;
}
h3{
    font-size: 26px;
}
h2{
    background-color: #741b47ff;
    font-size: 40px;
}
.card{
    height: 200px;
    text-align: center;
    margin-left: 20%;
}
.letterhead{
    height: 500px;
    border: 5px solid #741b47ff;
}
.center{
    text-align: center;
}
.words{
    color: white;
    font-family: 'Unica One', cursive;
    padding: 20px;
    font-size: 24px;
    text-align: justify;
}
.letter{
    margin-left: 20%;
}
form{
    border: 1px solid #ff1dce;
    color: white;
    text-align: center;
    font-family: 'Unica One', cursive;
    margin: 5px;
}
input{
    margin: 5px;
}
.message{
    width: 80%;
    border-radius: 5px;
}
h5{
    color: #ff1dce;
    font-family: 'Calistoga', cursive;
    text-align: center;

}
/* end main */

footer{
    height: 200px;
    background-color: #ff1dce;
}
.footer_box{
    height: 150px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    background-color: #ff1dce;
}
h4{
    color: black;
    font-family: 'Calistoga', cursive;
}
.occupation{
    color: black;
    font-family: 'Bad Script', cursive;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Unica One', cursive;
}
a:hover{
    color: white;
    background-color: #741b47ff;
    border: 1px solid black;
    border-radius: 5px;
}
/* end footer */